  <!--!-------------------------------------------------------------------------------------!-->
        <!--?----------------------------------  MODUŁ:  Menu  ----------------------------------?-->
        <!--!------------------------------------------------------------------------------------!-->
        <nav class="GW__nav nav">
            <a class="nav__link nav__link--home nav__link--active" > </a>
            <a class="nav__link nav__link--shop" id="shop_button"> </a>
            <a class="nav__link nav__link--user route_to_profile"> </a>
        </nav> 
 



        <!--!-------------------------------------------------------------------------------------!-->
        <!--?-------------------------------  MODUŁ:  Dialog Box  -------------------------------?-->
        <!--!------------------------------------------------------------------------------------!-->
        <dialog class="BoxDialog" data-dialogName="additem" data-dialogHeight="50">
            <div class="BoxDialog__empty"></div>

            <div class="BoxDialog__BoxFull">
                <div class="BoxDialog__BoxMenu">
                    <div class="BoxDialog__MenuPart"></div>
                    <div class="BoxDialog__MenuPart BoxDialog__MenuPart--center"></div>
                    <div class="BoxDialog__MenuPart"> 
                        <div class="BoxDialog__MenuClose"></div>
                    </div>
                </div>
                <div class="BoxDialog__BoxContent">
                    xx

                    <div class="BoxDial BoxDial--name">
                        <div class="BoxDial__ListButton">
                            <button type="button" class="BoxDial__Button BoxDial__Button--cancel">Anuluj</button>
                            <button type="button" class="BoxDial__Button BoxDial__Button--accept">Sortuj</button>
                        </div>
                    </div>



                </div>
            </div>
        </dialog>


        <!--?       Strona główna ->  Filtry       -->
        <dialog class="BoxDialog" data-dialogName="filters" data-dialogHeight="30">
            <div class="BoxDialog__empty"></div>
            <div class="BoxDialog__BoxFull">
                <div class="BoxDialog__BoxMenu">
                    <div class="BoxDialog__MenuPart"></div>
                    <div class="BoxDialog__MenuPart BoxDialog__MenuPart--center"></div>
                    <div class="BoxDialog__MenuPart"> 
                        <div class="BoxDialog__MenuClose"></div>
                    </div>
                </div>
                
                <div class="BoxDialog__BoxContent">
                    <div class="BoxDial BoxDial--filtrs">
                        <h4 class="BoxDial__title">
                            Filtry:
                        </h4>
                        <div class="BoxDial__Option BoxDial__Option--filterAZ" id="sort_from_A_Z">
                            A - Z
                        </div>
                        <div class="BoxDial__Option BoxDial__Option--filterZA" id="sort_from_Z_A">
                            Z - A
                        </div>

                        <div class="BoxDial__Option BoxDial__Option--filterStart" id="sort_from_date_start">
                            Data rozpoczęcia
                        </div>

                        <div class="BoxDial__Option BoxDial__Option--filterClose" id="sort_from_date_end">
                            Data zakończenia
                        </div>
                        <div class="BoxDial__Option BoxDial__Option--filterClose" id="sort_from_days_high">
                            Dni rosnąco
                        </div>
                    </div>

                </div>
            </div>
        </dialog>




 <!--!-------------------------------------------------------------------------------------!-->
        <!--?---------------------------------- WIDOK:  Główny ----------------------------------?-->
        <!--!------------------------------------------------------------------------------------!-->
        <section class="GW__WarrantyList WarrantyList">





            <!--!-------------------------------------------------------------------------------------!-->
            <!--?------------------------------  MODUŁ:  Powiadomienia -------------------------------?-->
            <!--!------------------------------------------------------------------------------------!-->
            <aside class="GW__TopInfo TopInfo" id="notification_main">
                <div class="TopInfo__info" data-typinfo="off" data-timeinfo="yes" id="get_data_info">
                    <!--? Wiadomość na górze strony | zmienić data-typinfo="off" na np alert-->
                    <span style="color: white"></span>
                </div>
            </aside>


            

            <div class="WarrantyList__top">
                <header class="WarrantyList__header">
                    <h1 class="WarrantyList__logo">
                       Guarantree
                    </h1>
                    <div class="WarrantyList__TopMenu">
                        <a class="WarrantyList__profil route_to_profile">
                            <img class="WarrantyList__avatar" src="" alt="" id="home_page_user_avatar">
                            <div class="WarrantyList__NoAvatar"></div>
                        </a>
                        <div class="WarrantyList__add" id="add_new_item_button">
                            <a>
                                +
                            </a>
                        </div>
                    </div>
                </header>

                <div class="WarrantyList__StatusBox">
                    <div class="WarrantyList__StatusBoxInfo">
                        <div class="WarrantyList__StatusBoxNumber">5</div>
                        <div class="WarrantyList__StatusBoxName">Aktywne</div>
                    </div>
                    <div class="WarrantyList__StatusBoxInfo">
                        <div class="WarrantyList__StatusBoxNumber">0</div>
                        <div class="WarrantyList__StatusBoxName">Reklamowane</div>
                    </div>
                    <div class="WarrantyList__StatusBoxInfo">
                        <div class="WarrantyList__StatusBoxNumber">1</div>
                        <div class="WarrantyList__StatusBoxName">Kończące się</div>
                    </div>
                    <div class="WarrantyList__StatusBoxInfo">
                        <div class="WarrantyList__StatusBoxNumber">2</div>
                        <div class="WarrantyList__StatusBoxName">Zakończone</div>
                    </div>
                </div>


                <div class="WarrantyList__FiltrBox">
                    <label class="WarrantyList__FiltrBoxLabel">
                        <input class="WarrantyList__FiltrBoxInput" type="text" placeholder="Szukaj" id="search_input">
                    </label>
                    <a  class="WarrantyList__FiltrBoxFilters" id="filters_element">
                        Filtry
                    </a>
                </div>

            </div>


            <div class="WarrantyList__ItemsList" id="main_items_container">
                <!-- !Element ładowania przed wczytaniem danych z firebasa -->
                    <div class="WarrantyList__item WarrantyList__item--loading" >
                        <div class="WarrantyList__ItemFirstPart--loading">
                            <div class="WarrantyList__ItemDot--loading"></div>
                        </div>
                        <div class="WarrantyList__ItemSecondPart">
                            <h2 class="WarrantyList__ItemName--loading">
                                Lorem
                            </h2>
                            <p class="WarrantyList__ItemDescription--loading">
                                Okres gwarancyjny
                            </p>
                        </div>
                        <div class="WarrantyList__ItemThirdPart--loading"> 
                            dni
                        </div>
                    </div>
                     <!-- !Element ładowania przed wczytaniem danych z firebasa -->
                     <div class="WarrantyList__item WarrantyList__item--loading" >
                        <div class="WarrantyList__ItemFirstPart--loading">
                            <div class="WarrantyList__ItemDot--loading"></div>
                        </div>
                        <div class="WarrantyList__ItemSecondPart">
                            <h2 class="WarrantyList__ItemName--loading">
                                Lorem
                            </h2>
                            <p class="WarrantyList__ItemDescription--loading">
                                Okres gwarancyjny
                            </p>
                        </div>
                        <div class="WarrantyList__ItemThirdPart--loading"> 
                            dni
                        </div>
                    </div>
                     <!-- !Element ładowania przed wczytaniem danych z firebasa -->
                      <div class="WarrantyList__item WarrantyList__item--loading" >
                        <div class="WarrantyList__ItemFirstPart--loading">
                            <div class="WarrantyList__ItemDot--loading"></div>
                        </div>
                        <div class="WarrantyList__ItemSecondPart">
                            <h2 class="WarrantyList__ItemName--loading">
                                Lorem
                            </h2>
                            <p class="WarrantyList__ItemDescription--loading">
                                Okres gwarancyjny
                            </p>
                        </div>
                        <div class="WarrantyList__ItemThirdPart--loading"> 
                            dni
                        </div>
                    </div>
            

            </div>
        </section>
