  <!--!-------------------------------------------------------------------------------------!-->
        <!--?----------------------------------  MODUŁ:  Menu  ----------------------------------?-->
        <!--!------------------------------------------------------------------------------------!-->
        <nav class="GW__nav nav">
            <a class="nav__link nav__link--home nav__link--active" href="?page=home"> </a>
            <a class="nav__link nav__link--shop" href="?page=shop"> </a>
            <a class="nav__link nav__link--user" href="?page=user"> </a>
        </nav> 
 
 <!--!-------------------------------------------------------------------------------------!-->
        <!--?---------------------------------- WIDOK:  Główny ----------------------------------?-->
        <!--!------------------------------------------------------------------------------------!-->
        <section class="GW__WarrantyList WarrantyList">





            <!--!-------------------------------------------------------------------------------------!-->
            <!--?------------------------------  MODUŁ:  Powiadomienia -------------------------------?-->
            <!--!------------------------------------------------------------------------------------!-->
            <aside class="GW__TopInfo TopInfo">
                <div class="TopInfo__error">
                    <noscript>Obsługa skryptów JavaScript jest włączona w Twojej przeglądarce</noscript>
                </div>
                <div class="TopInfo__error TopInfo__error--css">
                    <span style="color: red">Arkusz motywu nie został załadowany poprawnie</span>
                </div>

                <div class="TopInfo__info" data-typinfo="on" data-timeinfo="no">
                    <!--? Wiadomość na górze strony | zmienić data-typinfo="off" na np alert-->
                </div>
            </aside>


            

            <div class="WarrantyList__top">
                <header class="WarrantyList__header">
                    <h1 class="WarrantyList__logo">
                        GWARANT
                    </h1>
                    <div class="WarrantyList__TopMenu">
                        <a class="WarrantyList__profil" href="?page=user">
                            <img class="WarrantyList__avatar" src="https://picsum.photos/80/80" alt="">
                            <div class="WarrantyList__NoAvatar"></div>
                        </a>
                        <div class="WarrantyList__add">
                            <a href="?page=product">
                                +
                            </a>
                        </div>
                    </div>
                </header>

                <div class="WarrantyList__StatusBox">
                    <div class="WarrantyList__StatusBoxInfo">
                        <div class="WarrantyList__StatusBoxNumber">5</div>
                        <div class="WarrantyList__StatusBoxName">Aktywne</div>
                    </div>
                    <div class="WarrantyList__StatusBoxInfo">
                        <div class="WarrantyList__StatusBoxNumber">0</div>
                        <div class="WarrantyList__StatusBoxName">Reklamowane</div>
                    </div>
                    <div class="WarrantyList__StatusBoxInfo">
                        <div class="WarrantyList__StatusBoxNumber">1</div>
                        <div class="WarrantyList__StatusBoxName">Kończące się</div>
                    </div>
                    <div class="WarrantyList__StatusBoxInfo">
                        <div class="WarrantyList__StatusBoxNumber">2</div>
                        <div class="WarrantyList__StatusBoxName">Zakończone</div>
                    </div>
                </div>


                <div class="WarrantyList__FiltrBox">
                    <label class="WarrantyList__FiltrBoxLabel">
                        <input class="WarrantyList__FiltrBoxInput" type="text" placeholder="Szukaj">
                    </label>
                    <a href="javascript:location.search+='&box=filters';" class="WarrantyList__FiltrBoxFilters">
                        Filtry
                    </a>
                </div>

            </div>


            <div class="WarrantyList__ItemsList">
                <!-- !Element ładowania przed wczytaniem danych z firebasa
                    <div class="WarrantyList__item WarrantyList__item--loading" >
                        <div class="WarrantyList__ItemFirstPart--loading">
                            <div class="WarrantyList__ItemDot--loading"></div>
                        </div>
                        <div class="WarrantyList__ItemSecondPart">
                            <h2 class="WarrantyList__ItemName--loading">
                                Lorem
                            </h2>
                            <p class="WarrantyList__ItemDescription--loading">
                                Okres gwarancyjny
                            </p>
                        </div>
                        <div class="WarrantyList__ItemThirdPart--loading"> 
                            dni
                        </div>
                    </div>
                    -->

                <div class="WarrantyList__item" data-IdItem="x" data-StatusItem="young" data-TypeItem="warranty">
                    <div class="WarrantyList__ItemFirstPart">
                        <img class="WarrantyList__ItemImg" src="https://picsum..photos/65/65" alt="">
                        <div class="WarrantyList__ItemNoImg"></div>
                        <div class="WarrantyList__ItemDot"></div>
                    </div>
                    <div class="WarrantyList__ItemSecondPart">
                        <h2 class="WarrantyList__ItemName">
                            Nowa
                        </h2>
                        <p class="WarrantyList__ItemDescription">
                            Okres gwarancyjny: xx.xx.xx - xx.xx.xx
                        </p>
                    </div>
                    <div class="WarrantyList__ItemThirdPart">
                        21 dni
                    </div>
                </div>

                <div class="WarrantyList__item" data-IdItem="x" data-StatusItem="young" data-TypeItem="warranty">
                    <div class="WarrantyList__ItemFirstPart">
                        <img class="WarrantyList__ItemImg" src="https://picsum..photos/65/65" alt="">
                        <div class="WarrantyList__ItemNoImg"></div>
                        <div class="WarrantyList__ItemDot"></div>
                    </div>
                    <div class="WarrantyList__ItemSecondPart">
                        <h2 class="WarrantyList__ItemName">
                            Nowa
                        </h2>
                        <p class="WarrantyList__ItemDescription">
                            Okres gwarancyjny: xx.xx.xx - xx.xx.xx
                        </p>
                    </div>
                    <div class="WarrantyList__ItemThirdPart">
                        21 dni
                    </div>
                </div>

                <div class="WarrantyList__item" data-IdItem="x" data-StatusItem="young" data-TypeItem="warranty">
                    <div class="WarrantyList__ItemFirstPart">
                        <img class="WarrantyList__ItemImg" src="https://picsum..photos/65/65" alt="">
                        <div class="WarrantyList__ItemNoImg"></div>
                        <div class="WarrantyList__ItemDot"></div>
                    </div>
                    <div class="WarrantyList__ItemSecondPart">
                        <h2 class="WarrantyList__ItemName">
                            Nowa
                        </h2>
                        <p class="WarrantyList__ItemDescription">
                            Okres gwarancyjny: xx.xx.xx - xx.xx.xx
                        </p>
                    </div>
                    <div class="WarrantyList__ItemThirdPart">
                        21 dni
                    </div>
                </div>

                <div class="WarrantyList__item" data-IdItem="x" data-StatusItem="young" data-TypeItem="warranty">
                    <div class="WarrantyList__ItemFirstPart">
                        <img class="WarrantyList__ItemImg" src="https://picsum..photos/65/65" alt="">
                        <div class="WarrantyList__ItemNoImg"></div>
                        <div class="WarrantyList__ItemDot"></div>
                    </div>
                    <div class="WarrantyList__ItemSecondPart">
                        <h2 class="WarrantyList__ItemName">
                            Nowa
                        </h2>
                        <p class="WarrantyList__ItemDescription">
                            Okres gwarancyjny: xx.xx.xx - xx.xx.xx
                        </p>
                    </div>
                    <div class="WarrantyList__ItemThirdPart">
                        21 dni
                    </div>
                </div>

                <div class="WarrantyList__item" data-IdItem="x" data-StatusItem="medium" data-TypeItem="family">
                    <div class="WarrantyList__ItemFirstPart">
                        <img class="WarrantyList__ItemImg" src="https://picsum.photos/64/65">
                        <div class="WarrantyList__ItemNoImg"></div>
                        <div class="WarrantyList__ItemDot"></div>
                    </div>
                    <div class="WarrantyList__ItemSecondPart">
                        <h2 class="WarrantyList__ItemName">
                            Średnie
                        </h2>
                        <p class="WarrantyList__ItemDescription">
                            Okres gwarancyjny: xx.xx.xx - xx.xx.xx
                        </p>
                    </div>
                    <div class="WarrantyList__ItemThirdPart">
                        234 dni
                    </div>
                </div>

                <div class="WarrantyList__item" data-IdItem="x" data-StatusItem="old" data-TypeItem="family">
                    <div class="WarrantyList__ItemFirstPart">
                        <img class="WarrantyList__ItemImg" src="https://picsum.photos/65/64">
                        <div class="WarrantyList__ItemNoImg"></div>
                        <div class="WarrantyList__ItemDot"></div>
                    </div>
                    <div class="WarrantyList__ItemSecondPart">
                        <h2 class="WarrantyList__ItemName">
                            Stare
                        </h2>
                        <p class="WarrantyList__ItemDescription">
                            Okres gwarancyjny: xx.xx.xx - xx.xx.xx
                        </p>
                    </div>
                    <div class="WarrantyList__ItemThirdPart">
                        5 dni
                    </div>
                </div>

            </div>
        </section>
